// Neo4j Community Colour Scheme

$neo4j-pale-blue: #77c1f4;
$neo4j-green: rgb(108,201,155);
$neo4j-grey: rgb(192, 192, 192);
$neo4j-dark: black;

// Neo4j Community Landing Layout

.neo4j-home-grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
   "header header"
   "main sidebar"
   "footer footer"
}

.neo4j-home-grid-sidebar {
  display: grid;
  grid-area: sidebar;
  grid-gap: 20px;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas:
   "announce"
   "blog"
   "tweets"
   "newbie"
   "store"
   "jobs"
   "feedback"
   "links"
   "whitespace"
}

.neo4j-home-grid-main {
  display: grid;
  grid-area: main;
  grid-gap: 20px;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas:
   "contents"
   "ninjas"
   "featured"
   "help"
   "community"
   "projects"
   "new_members"
}

.neo4j-home-grid-header {
  grid-area: header;
}

.neo4j-home-grid-footer {
  grid-area: footer;
}

.neo4j-home-grid-contents {
  grid-area: contents;
}

.neo4j-home-grid-ninjas {
  grid-area: ninjas;
}

.neo4j-home-grid-featured {
  grid-area: featured;
}

.neo4j-home-grid-help {
  grid-area: help;
}

.neo4j-home-grid-community-content {
  grid-area: community;
}

.neo4j-home-grid-community-projects {
  grid-area: projects;
}

.neo4j-home-grid-meet-new-members {
  grid-area: new_members;
}

.neo4j-home-grid-announcements {
  grid-area: announce;
}

.neo4j-home-grid-blog {
  grid-area: blog;
}

.neo4j-home-grid-tweets {
  grid-area: tweets;
}

.neo4j-home-grid-links {
  grid-area: links;
}

.neo4j-home-grid-neo4j-newbie {
  grid-area: newbie
}

.neo4j-home-grid-graph-gear-store {
  grid-area: store
}

.neo4j-home-grid-jobs {
  grid-area: jobs
}

.neo4j-home-grid-share-feedback {
  grid-area: feedback
}

.neo4j-home-grid-sidebar-spacer {
  grid-area: whitespace;
  min-height: 200px;
}

.ninjas-container, .certified-devs-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
  grid-template-areas: "ninja ninja ninja"
}

.ninjas-entry, .certified-devs-entry {
  color: $neo4j-dark;   
  padding: 10px;
  text-align: center;
  box-shadow: 0px 2px 4px 2px rgb(138, 138, 138);
  border-radius: 4px;
  a {
    color: $neo4j-dark;
  }
 }

 .ninja-name,.ninja-username, .certified-dev-name, .certified-dev-username  {
  font-weight: bold;
}

.ninja-name,.ninja-member-since, .certified-dev-name, .certified-dev-member-since {
  color: $neo4j-grey;
}

.featured-member-image img{
  width: 100%;
}

.can-you-help-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  grid-template-areas: "cyh cyh"
}

.can-you-help-entry {
  color: $neo4j-dark;   
  padding: 10px;
  box-shadow: 0px 2px 4px 2px rgb(138, 138, 138);
  border-radius: 4px;
  a {
    color: $neo4j-dark;
  }
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 30px auto 30px;
  grid-template-rows: auto;
  grid-template-areas: "cyh-avatar cyh-title cyh-meta"
}

.can-you-help-avatar {
  grid-area: cyh-avatar;
}

.can-you-help-title {
  grid-area: cyh-title;
  text-align: left;
  color: $neo4j-dark;
}

.can-you-help-meta {
  grid-area: cyh-meta;
  color: $neo4j-grey;
}

.community-content-header, .community-projects-header, .can-you-help-header, .meet-new-members-header, .certified-devs-header {
  display: inline-block;
  a:link, a:visited {
    color: $neo4j-dark;
  };
  a:hover {
    color: $neo4j-pale-blue;
  }
}

.community-projects-header-title, .community-content-header-title, .can-you-help-header-title, .meet-new-members-header-title, .certified-devs-header-title {
  padding-right: 20px;
}

.community-projects-header-title, .community-projects-main-link,
.community-content-header-title, .community-content-main-link,
.can-you-help-header-title, .can-you-help-main-link,
.meet-new-members-header-title, .meet-new-members-main-link, .certified-devs-header-title, .certified-devs-main-link {
  float: left;
}

.community-content-container, .community-projects-container, .meet-new-members-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
  grid-template-areas: "ninja ninja ninja"
}

.community-content-entry {
  color: $neo4j-dark;   
  padding: 10px;
  text-align: center;
  box-shadow: 0px 2px 4px 2px rgb(138, 138, 138);
  border-radius: 4px;
  a {
    color: $neo4j-dark;
  }
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 40px auto auto auto;
  grid-template-rows: auto 30px;
  grid-template-areas: "cc-title cc-title cc-title cc-title"
                       "cc-avatar cc-meta-likes cc-meta-posts cc-meta-views"
}

.community-content-title, .meet-new-members-title {
  grid-area: cc-title;
  text-align: left;
  color: $neo4j-dark;
}

.community-content-avatar, .meet-new-members-avatar {
  grid-area: cc-avatar;

}

.community-content-likes, .meet-new-members-likes {
  grid-area: cc-meta-likes;
  color: $neo4j-grey;
  text-align: left;
  display: flex;
  align-items: center;
  svg {
    padding-right: 5px;
  }
}

.community-content-posts, .meet-new-members-posts {
  grid-area: cc-meta-posts;
  color: $neo4j-grey;
  text-align: left;
  display: flex;
  align-items: center;
  svg {
    padding-right: 5px;
  }
}

.community-content-views, .meet-new-members-views {
  grid-area: cc-meta-views;
  color: $neo4j-grey;
  text-align: left;
  display: flex;
  align-items: center;
  svg {
    padding-right: 5px;
  }
}

.meet-new-members-entry {
  color: $neo4j-dark;   
  padding: 10px;
  text-align: center;
  box-shadow: 0px 2px 4px 2px rgb(138, 138, 138);
  border-radius: 4px;
  a {
    color: $neo4j-dark;
  }
  display: grid;
  grid-gap: 5px;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto 40px 40px;
  grid-template-areas: "cc-avatar cc-meta-likes"
                       "cc-avatar cc-meta-posts"
                       "cc-avatar cc-meta-views"
                       "cc-title cc-title"
                       "mnm-excerpt mnm-excerpt"
}

.meet-new-members-excerpt {
  color: $neo4j-grey;
  position: relative;
  text-align: left;
  grid-area: mnm-excerpt;
  overflow: hidden;
  text-overflow: ellipsis;
}

.wp-blog-posts-widget-entry-title {
  width: 220px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.announcements-list-container, .latest-blog-post-entry {
  padding: 5px;
}

.announcements-entry-title, .announcements-view-all {
  font-size: 12px;
}

.announcements-view-all {
  font-weight: bold;
}

.announcements-entry, .announcements-view-all {
  width: 100%;
  list-style-type: none;
  border-bottom: solid #3333 1px;
  padding: 5px 0  5px 5px;
  a:link, a:visited {
    color: $neo4j-dark;
  };
  a:hover {
    color: $neo4j-pale-blue;
  }
}

.link-set, .neo4j-sidebar-widget {
  border: solid 1px;
  border-radius: 3px;
  color: $neo4j-grey;
  h3 {
    padding: 5px;
    color: white;
    background-color: $neo4j-grey;
    margin-bottom: 0px;
  }
}

.link-set-list-container {
  border: solid 1px;
  padding: 5px 0 5px 0;
  color: $neo4j-grey;
}

.link-set-entry-title {
  font-size: 12px;
}

.link-set-entry {
  width: 100%;
  list-style-type: none;
  padding: 5px 0  5px 5px;

  a:link, a:visited  {
    display: block;
      color: white;
      background-color: $neo4j-pale-blue;
      font-weight: bold;
      padding: 6px;
      margin-right: 10px;
      border-radius:5px;
  };

  a:hover {
    display: block;
    color: $neo4j-dark;
    background-color: $neo4j-green;
    font-weight: bold;
    padding: 6px;
    margin-right: 10px;
    border-radius:5px;
 }
}

.latest-blog-post-title {
  font-size: 12px;
  font-weight: bold;
}

.latest-blog-post-author-name {
  font-size: 12px;
}

.latest-blog-post-date {
  font-size: 12px;
  color: $neo4j-grey;
  padding: 0 0 10px 0;
}

.latest-blog-post-excerpt {
  font-size: 12px;
  padding: 0 0 10px 0;
}

.custom-categories-widget-header {
  display: block;
  a:link, a:visited {
    color: $neo4j-dark;
  };
  a:hover {
    color: $neo4j-pale-blue;
  }
}

.custom-categories-widget-title {
  display:inline-block;
  padding-right: 20px;
}

.tabset > input[type="radio"] {
  position: absolute;
  left: -200vw;
}

.tabset .tab-panel {
  display: none;
}

.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6),
.tabset > input:nth-child(13):checked ~ .tab-panels > .tab-panel:nth-child(7),
.tabset > input:nth-child(15):checked ~ .tab-panels > .tab-panel:nth-child(8),
.tabset > input:nth-child(17):checked ~ .tab-panels > .tab-panel:nth-child(9),
.tabset > input:nth-child(19):checked ~ .tab-panels > .tab-panel:nth-child(10),
.tabset > input:nth-child(21):checked ~ .tab-panels > .tab-panel:nth-child(11)  {
  display: block;
}

.tabset > label {
  position: relative;
  display: inline-block;
  padding: 15px 0px 15px;
  margin: 0 20px 0 0;
  border: 1px solid transparent;
  border-bottom: 0;
  cursor: pointer;
  font-weight: 600;
  color: $neo4j-grey;
}

.tabset > label::after {
  content: "";
  position: absolute;
  margin: 0 auto;
  left: 0%;
  bottom: 10px;
  width: 100%;
  height: 4px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.tabset > label:hover,
.tabset > input:focus + label {
  color: $neo4j-pale-blue;
}

.tabset > input:focus + label::after,
.tabset > input:checked + label::after {
  background: $neo4j-pale-blue;
  color: $neo4j-dark;
}

.tabset > input:checked + label {
  color: $neo4j-dark;
}

.tab-panel {
  padding: 0px 0;
  border-top: 1px solid #ccc;
}

.subcategory-grid {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
     background-image:
        -webkit-linear-gradient(
        left,
        $neo4j-pale-blue,
        $neo4j-green
    )
}

.subcategory {
  padding: 10px;
  background: white;
  border-radius: 3px;
  a:link, a:visited {
    color: $neo4j-dark;
  };
  a:hover {
    color: $neo4j-pale-blue;
  }
}

// for category topic list
.neo-avatar-large {
  display: inline-block !important;
  margin-right: 5px;
  margin-bottom: 10px;
  // vertical-align: middle;
  margin: 0 auto;
}

.neo-link-top-line {
  display: inline-block !important;
  // vertical-align: middle;
  // margin-left: 100px;
  vertical-align: top;
}

.neo-link-bottom-line {
  // margin-left: 200px;
  margin: auto 0;
  display: inline-flex !important;
  margin-left: 50px;
  display: block;
}

.neo-raw-topic-link {
  // margin-left: 20px;
  display: inline !important;
}


div.neo-link-bottom-line > a > span.badge-category.clear-badge {
   display: none;
}

.neo-topic-title {
  font-weight: 600;
}

.neo-posters {
  vertical-align: bottom;
  margin-top: 30px;
}

.neo-posters>a {
  margin-left: -20px !important;
}

.neo-reply-count {
  vertical-align: top;
  margin-top: 35px;
  // font-size: $font-down-1;
}

.neo-new-topic-button {
  background-color: green;
}

.neo-last-post {
  display: block !important;
  margin-top: 5px;
  margin-left: 45px;
  font-size: $font-down-2;
}

.neo-topic-list-item {
  box-shadow: 0px 2px 4px  2px rgba(138,138,138,0.25);
  border-radius: 4px;
}

.neo-topic-excerpt {
  margin-left: 110px;
}
// search banner mods

.custom-search-banner {
  background: -webkit-linear-gradient(left, #77c1f4, #6cc99b);
}

.custom-search-banner-wrap h1 {
  color: #ffffff;
}

.custom-search-banner-wrap .search-menu input[type="text"] {
  border-radius: 5px;
  height: 45px;
}

.custom-search-banner-wrap .search-icon {
  right: auto !important;
  padding: 15px 12px !important;
}

.custom-search-banner-wrap .search-menu input[type="text"]::-webkit-input-placeholder {
 text-indent: 20px;
}

.custom-search-banner-wrap .search-menu input[type="text"]::-moz-placeholder {
  text-indent: 20px;
 }

 .custom-search-banner-wrap .search-menu input[type="text"]:-ms-input-placeholder {
  text-indent: 20px;
 }

 .custom-search-banner-wrap .search-menu input[type="text"]:-moz-placeholder  {
  text-indent: 20px;
 }

 .custom-search-banner-wrap .search-menu input[type="text"]  {
  text-indent: 20px;
 }

.neo-topic-list>thead {
    display: none !important;
}
 
 .neo-nav-pills {
  display: flex;
  flex: 1 1 auto;
  margin: 0 20px 5px 3px;
  position: relative;
  float: right !important;
  .navigation-toggle {
    flex: 0 1 auto;
    margin-bottom: 5px;
  }
  > li {
    margin-right: 0;
    font-size: $font-down-1;
    border: 1px solid $primary-medium;
  }
  > li > a {
    line-height: $line-height-large;
    display: flex;
    align-items: center;
    .d-icon {
      margin-left: 5px;
    }
  }
  .drop {
    border: 1px solid $primary-low;
    position: absolute;
    z-index: z("dropdown") - 1;
    background-color: $secondary;
    padding: 0 10px 10px 10px;
    width: 150px;
    top: 100%;
    margin: 0;
    left: 0; // iOS6 alignment
    li {
      list-style-type: none;
      margin-left: 0;
      margin-top: 5px;
      padding-top: 10px;
      a {
        width: 100%;
        display: inline-block;
      }
    }
  }
}
@import "common/foundation/variables";
// test css
@media screen and (min-width: 767px) {
  // Show the sidebar at 767px
  .custom-sidebar {
    &.sidebar-right .contents > .topic-list {
      grid-template-columns: 78% 20%;
      @media screen and (max-width: 900px) {
        grid-template-columns: 73% 25%;
      }
      grid-template-areas:
        "body sidebar"
        "body sidebar";
    }

    .contents > .topic-list {
      display: grid;
      grid-column-gap: 2%;
      align-items: start;
      grid-template-rows: 50px auto;

      thead {
        grid-area: head;
        display: table;
        align-self: end;
      }
      > .neo-category-sidebar {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        grid-area: sidebar;
        order: 3;
        padding: 0;
        position: relative;
        // @if $stick-on-scroll == "true" {
          position: sticky;
          top: 80px;
          // max-height: 70vh;
          @media screen and (max-height: 925px) {
            // max-height: 55vh;
          }
          overflow-y: auto;
        // }
        .cooked {
          img,
          video,
          iframe {
            width: 100%;
            height: auto;
          }
          img.emoji {
            width: 20px;
          }
          ul,
          ol {
            padding-left: 30px;
          }
        }
      }
      tbody {
        grid-area: body;
        display: table;
        border-top: unset;
      }
    }
  }
}

.neo-create-topic {
  background-color: #6cc99c !important;
  color: #ffffff;
  width: 200px;
  height: 60px;
  border-radius: 4px;
  margin-right: 100px;
  box-shadow: 0px 2px 4px 2px rgba(138, 138, 138, 0.25);
  > svg {
    display: none;
  }
}

.neo-category-list {
  list-style-type: none;
  overflow-y: auto;
  height: 100%;
}

.neo-category-link {
  margin: 0 0 25px 0;
}

.neo-topic-list {
  border-collapse: separate;
  border-spacing: 0 1em;
  width: 90%;
}

