// Neo4j Community Colour Scheme

$neo4j-pale-blue: #77c1f4;
$neo4j-green: rgb(108,201,155);
$neo4j-grey: rgb(138, 138, 138);
$neo4j-dark: black;

// Neo4j Community Landing Layout

.neo4j-home-grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
   "header header"
   "main sidebar"
   "footer footer"
}

.neo4j-home-grid-sidebar {
  display: grid;
  grid-area: sidebar;
  grid-gap: 20px;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas:
   "announce"
   "blog"
   "tweets"
   "links"
   "whitespace"
}

.neo4j-home-grid-main {
  display: grid;
  grid-area: main;
  grid-gap: 20px;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas:
   "contents"
   "ninjas"
   "featured"
   "help"
   "community"
   "projects"
}

.neo4j-home-grid-header {
  grid-area: header;
}

.neo4j-home-grid-footer {
  grid-area: footer;
}

.neo4j-home-grid-contents {
  grid-area: contents;
}

.neo4j-home-grid-ninjas {
  grid-area: ninjas;
}

.neo4j-home-grid-featured {
  grid-area: featured;
}

.neo4j-home-grid-help {
  grid-area: help;
}

.neo4j-home-grid-community-content {
  grid-area: community;
}

.neo4j-home-grid-community-projects {
  grid-area: projects;
}

.neo4j-home-grid-announcements {
  grid-area: announce;
}

.neo4j-home-grid-blog {
  grid-area: blog;
}

.neo4j-home-grid-tweets {
  grid-area: tweets;
}

.neo4j-home-grid-links {
  grid-area: links;
}

.neo4j-home-grid-sidebar-spacer {
  grid-area: whitespace;
  min-height: 400px;
}

.ninjas-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
  grid-template-areas: "ninja ninja ninja"
}

.ninjas-entry {
  color: $neo4j-dark;   
  padding: 10px;
  text-align: center;
  box-shadow: 0px 2px 4px 2px rgb(138, 138, 138);
  border-radius: 4px;
  a {
    color: $neo4j-dark;
  }
 }

 .ninja-name,.ninja-username {
  font-weight: bold;
}

.ninja-name,.ninja-member-since {
  color: $neo4j-grey;
}

.featured-member-image img{
  width: 100%;
}

.can-you-help-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  grid-template-areas: "cyh cyh"
}

.can-you-help-entry {
  color: $neo4j-dark;   
  padding: 10px;
  box-shadow: 0px 2px 4px 2px rgb(138, 138, 138);
  border-radius: 4px;
  a {
    color: $neo4j-dark;
  }
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 30px auto 30px;
  grid-template-rows: auto;
  grid-template-areas: "cyh-avatar cyh-title cyh-meta"
}

.can-you-help-avatar {
  grid-area: cyh-avatar;
}

.can-you-help-title {
  grid-area: cyh-title;
  text-align: left;
  color: $neo4j-dark;
}

.can-you-help-meta {
  grid-area: cyh-meta;
  color: $neo4j-grey;
}

.community-content-header, .community-projects-header, .can-you-help-header {
  display: inline-block;
}

.community-projects-title, .community-content-title, .can-you-help-title {
  padding-right: 20px;
}

.community-projects-title, .community-projects-main-link,
.community-content-title, .community-content-main-link,
.can-you-help-title, .can-you-help-main-link {
  float: left;
}

.community-projects-header, .community-content-header, .can-you-help-header {
  a:link, a:visited {
    color: $neo4j-dark;
  };
  a:hover {
    color: $neo4j-pale-blue;
  }
}

.community-content-container, .community-projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
  grid-template-areas: "ninja ninja ninja"
}

.community-content-entry {
  color: $neo4j-dark;   
  padding: 10px;
  text-align: center;
  box-shadow: 0px 2px 4px 2px rgb(138, 138, 138);
  border-radius: 4px;
  a {
    color: $neo4j-dark;
  }
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 40px auto auto auto;
  grid-template-rows: auto 30px;
  grid-template-areas: "cc-title cc-title cc-title cc-title"
                       "cc-avatar cc-meta-likes cc-meta-posts cc-meta-views"
}

.community-content-title {
  grid-area: cc-title;
  text-align: left;
  color: $neo4j-dark;
}

.community-content-avatar {
  grid-area: cc-avatar;

}

.community-content-likes {
  grid-area: cc-meta-likes;
  color: $neo4j-grey;
  text-align: left;
  display: flex;
  align-items: center;
  svg {
    padding-right: 5px;
  }
}

.community-content-posts {
  grid-area: cc-meta-posts;
  color: $neo4j-grey;
  text-align: left;
  display: flex;
  align-items: center;
  svg {
    padding-right: 5px;
  }
}

.community-content-views {
  grid-area: cc-meta-views;
  color: $neo4j-grey;
  text-align: left;
  display: flex;
  align-items: center;
  svg {
    padding-right: 5px;
  }
}

.wp-blog-posts-widget-entry-title {
  width: 220px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.announcements-entry-title, .announcements-view-all {
  font-size: 12px;
}

.announcements-view-all {
  font-weight: bold;
}

.announcements-entry, .announcements-view-all {
  width: 100%;
  list-style-type: none;
  border-bottom: solid #3333 1px;
  padding: 5px 0  5px 5px;
  a:link, a:visited {
    color: $neo4j-dark;
  };
  a:hover {
    color: $neo4j-pale-blue;
  }
}

.useful-links-entry-title {
  font-size: 12px;
}

.useful-links-entry {
  width: 100%;
  list-style-type: none;
  border-bottom: solid #3333 1px;
  padding: 5px 0  5px 5px;
  a:link, a:visited {
    color: $neo4j-dark;
  };
  a:hover {
    color: $neo4j-pale-blue;
  }
}

.latest-blog-post-title {
  font-size: 12px;
  font-weight: bold;
}

.latest-blog-post-author-name {
  font-size: 12px;
}

.latest-blog-post-date {
  font-size: 12px;
  color: $neo4j-grey;
  padding: 0 0 10px 0;
}

.latest-blog-post-excerpt {
  font-size: 12px;
  padding: 0 0 10px 0;
}

.custom-categories-widget-header {
  display: block;
  a:link, a:visited {
    color: $neo4j-dark;
  };
  a:hover {
    color: $neo4j-pale-blue;
  }
}

.custom-categories-widget-title {
  display:inline-block;
  padding-right: 20px;
}

.tabset > input[type="radio"] {
  position: absolute;
  left: -200vw;
}

.tabset .tab-panel {
  display: none;
}

.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
  display: block;
}

.tabset > label {
  position: relative;
  display: inline-block;
  padding: 15px 0px 15px;
  margin: 0 20px 0 0;
  border: 1px solid transparent;
  border-bottom: 0;
  cursor: pointer;
  font-weight: 600;
  color: $neo4j-grey;
}

.tabset > label::after {
  content: "";
  position: absolute;
  margin: 0 auto;
  left: 0%;
  bottom: 10px;
  width: 100%;
  height: 4px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.tabset > label:hover,
.tabset > input:focus + label {
  color: $neo4j-pale-blue;
}

.tabset > input:focus + label::after,
.tabset > input:checked + label::after {
  background: $neo4j-pale-blue;
  color: $neo4j-dark;
}

.tabset > input:checked + label {
  color: $neo4j-dark;
}

.tab-panel {
  padding: 0px 0;
  border-top: 1px solid #ccc;
}

.subcategory-grid {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
     background-image:
        -webkit-linear-gradient(
        left,
        $neo4j-pale-blue,
        $neo4j-green
    )
}

.subcategory {
  padding: 10px;
  background: white;
  border-radius: 3px;
  a:link, a:visited {
    color: $neo4j-dark;
  };
  a:hover {
    color: $neo4j-pale-blue;
  }
}

// search banner mods

.custom-search-banner {
  background: -webkit-linear-gradient(left, #77c1f4, #6cc99b);
}

.custom-search-banner-wrap h1 {
  color: #ffffff;
}

.custom-search-banner-wrap .search-menu input[type="text"] {
  border-radius: 5px;
  height: 45px;
}

.custom-search-banner-wrap .search-icon {
  right: auto !important;
  padding: 15px 12px !important;
}

.custom-search-banner-wrap .search-menu input[type="text"]::-webkit-input-placeholder {
 text-indent: 20px;
}

.custom-search-banner-wrap .search-menu input[type="text"]::-moz-placeholder {
  text-indent: 20px;
 }

 .custom-search-banner-wrap .search-menu input[type="text"]:-ms-input-placeholder {
  text-indent: 20px;
 }

 .custom-search-banner-wrap .search-menu input[type="text"]:-moz-placeholder  {
  text-indent: 20px;
 }

 .custom-search-banner-wrap .search-menu input[type="text"]  {
  text-indent: 20px;
 }
 