// Neo4j Community Colour Scheme

$neo4j-pale-blue: #77c1f4;
$neo4j-green: rgb(108,201,155);
$neo4j-grey: rgb(138, 138, 138);
$neo4j-dark: black;

// Neo4j Community Landing Layout

.neo4j-home-grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
   "header header"
   "main sidebar"
   "footer footer"
}

.neo4j-home-grid-sidebar {
  display: grid;
  grid-area: sidebar;
  grid-gap: 20px;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  grid-template-areas:
   "announce"
   "blog"
   "tweets"
   "links"
}

.neo4j-home-grid-main {
  display: grid;
  grid-area: main;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas:
   "contents"
   "ninjas"
   "featured"
   "help"
   "projects"
}

.neo4j-home-grid-header {
  grid-area: header;
}

.neo4j-home-grid-footer {
  grid-area: footer;
}

.neo4j-home-grid-contents {
  grid-area: contents;
}

.neo4j-home-grid-ninjas {
  grid-area: ninjas;
}

.neo4j-home-grid-featured {
  grid-area: featured;
}

.neo4j-home-grid-help {
  grid-area: help;
}

.neo4j-home-grid-projects {
  grid-area: projects;
}

.neo4j-home-grid-announcements {
  grid-area: announce;
}

.neo4j-home-grid-blog {
  grid-area: blog;
}

.neo4j-home-grid-tweets {
  grid-area: tweets;
}

.ninjas-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
  grid-template-areas: "ninja ninja ninja"
}

.ninjas-entry {
  color: $neo4j-dark;   
  padding: 10px;
    text-align: center;
    box-shadow: 0px 2px 4px 2px rgb(138, 138, 138);
    border-radius: 4px;
    a {
      color: $neo4j-dark;
    }
 }

 .ninja-name,.ninja-username {
  font-weight: bold;
}

.ninja-name,.ninja-member-since {
  color: $neo4j-grey;
}

 .featured-member-image img{
   width: 100%;
 }


.wp-blog-posts-widget-entry-title {
  width: 220px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.announcements-entry-title, .announcements-view-all {
  font-size: 12px;
}

.announcements-view-all {
  font-weight: bold;
}

.announcements-entry, .announcements-view-all {
  width: 100%;
  list-style-type: none;
  border-bottom: solid #3333 1px;
  padding: 5px 0  5px 5px;
  a:link, a:visited {
    color: $neo4j-dark;
  };
  a:hover {
    color: $neo4j-pale-blue;
  }
}

.latest-blog-post-title {
  font-size: 12px;
  font-weight: bold;
}

.latest-blog-post-author-name {
  font-size: 12px;
}

.latest-blog-post-date {
  font-size: 12px;
  color: $neo4j-grey;
  padding: 0 0 10px 0;
}

.latest-blog-post-excerpt {
  font-size: 12px;
  padding: 0 0 10px 0;
}

.custom-categories-widget-header {
  display: block;
  a:link, a:visited {
    color: $neo4j-dark;
  };
  a:hover {
    color: $neo4j-pale-blue;
  }
}

.custom-categories-widget-title {
  display:inline-block;
  padding-right: 20px;
}

.tabset > input[type="radio"] {
  position: absolute;
  left: -200vw;
}

.tabset .tab-panel {
  display: none;
}

.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
  display: block;
}

.tabset > label {
  position: relative;
  display: inline-block;
  padding: 15px 0px 15px;
  margin: 0 20px 0 0;
  border: 1px solid transparent;
  border-bottom: 0;
  cursor: pointer;
  font-weight: 600;
  color: $neo4j-grey;
}

.tabset > label::after {
  content: "";
  position: absolute;
  margin: 0 auto;
  left: 0%;
  bottom: 10px;
  width: 100%;
  height: 4px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.tabset > label:hover,
.tabset > input:focus + label {
  color: $neo4j-pale-blue;
}

.tabset > input:focus + label::after,
.tabset > input:checked + label::after {
  background: $neo4j-pale-blue;
  color: $neo4j-dark;
}

.tabset > input:checked + label {
  color: $neo4j-dark;
}

.tab-panel {
  padding: 0px 0;
  border-top: 1px solid #ccc;
}

.subcategory-grid {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
     background-image:
        -webkit-linear-gradient(
        left,
        $neo4j-pale-blue,
        $neo4j-green
    )
}

.subcategory {
  padding: 10px;
  background: white;
  border-radius: 3px;
  a:link, a:visited {
    color: $neo4j-dark;
  };
  a:hover {
    color: $neo4j-pale-blue;
  }
}
