// Neo4j Community Colour Scheme

$neo4j-pale-blue: #77c1f4;
$neo4j-green: rgb(108,201,155);
$neo4j-grey: #9599a1;
$neo4j-lightgrey: lightgrey;
$neo4j-dark: black;
$entry-separation: 10px;

// Neo4j Community Landing Layout

.neo4j-home-grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 11fr 3fr;
  grid-template-rows: auto;
  grid-template-areas:
   "main sidebar"
   "footer footer"
}

.neo4j-home-grid-sidebar {
  grid-area: sidebar;
}

.neo4j-home-grid-main {
  grid-area: main;
}

.neo4j-widget-main {
  margin-bottom: 20px;
}

.neo4j-widget-main-container, .tabset, .featured-member-container {
  margin-left: 10px;
}

.neo4j-widget-sidebar {
  margin-bottom: 15px;
}

.neo4j-widget-main-header, .neo4j-widget-sidebar-header {
  background-color: white;
  color:$neo4j-dark;
  padding: 10px;
  position: relative;
  vertical-align: middle;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.30),0 0 0 0 rgba(0,0,0,0.15);
}

.neo4j-widget-main-header {
  display: inline-block;
  margin-bottom: 5px;

  a:link, a:visited {
    float: right;
    color: $neo4j-pale-blue;
    padding: 3px 0 -3px 0;
  }
  a:hover {
    color: $neo4j-dark;
  }
}

.link-set, .neo4j-widget-sidebar, .neo4j-widget-main-header {
  width: 98%;
  border: solid 1px $neo4j-lightgrey;
  border-radius: 3px;
  color: $neo4j-grey;
  h3 {
    font-weight: 500;
    color: $neo4j-dark;
    background-color: white;
    margin-bottom: 0px;
  }
}

.ninjas-container, .certified-devs-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: $entry-separation;
  grid-template-areas: "ninja ninja ninja"
}

.neo4j-widget-main-entry {
  padding: 10px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.30),0 0 0 0 rgba(0,0,0,0.15);
  border-radius: 4px;
  color: $neo4j-dark;   
  a {
    color: $neo4j-dark;
  }
}

.neo4j-widget-main-entry:hover {
  background-color: darken($secondary, 2%);
  lighten: ($primary, 70%);
}

.ninjas-entry {
  text-align: left;
}

.certified-devs-entry {
  text-align: center;
}

.ninjas-entry-inner {
  display: grid;
  grid-template-columns: 50px auto;
  grid-template-rows: auto auto;
  grid-template-areas: "nj-avatar nj-username"
                       "nj-avatar nj-name"
}

.ninja-avatar {
  grid-area: nj-avatar;
  padding: 5px 0 0 0;
}

.ninja-username {
  grid-area: nj-username;
}

.ninja-name {
  grid-area: nj-name;
}


 .ninja-name,.ninja-username, .certified-dev-name, .certified-dev-username  {
  font-weight: bold;
}

.ninja-name,.ninja-member-since, .certified-dev-name, .certified-dev-member-since {
  color: $neo4j-grey;
}

.featured-member-container {
  display:grid;
  grid-gap: $entry-separation;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "left right";
}

.featured-member-image {
  grid-area: left;
  img {
    width: 100%;
    border-radius: 4px;
  }
}

.featured-member-fixed-image {
  grid-area: right;
  img {
    width: 100%;
    border-radius: 4px;
  }
}

.can-you-help-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: $entry-separation;
  grid-template-areas: "cyh cyh"
}

.can-you-help-entry {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 30px auto 30px;
  grid-template-rows: auto;
  grid-template-areas: "cyh-avatar cyh-title cyh-meta"
}

.can-you-help-avatar {
  grid-area: cyh-avatar;
}

.can-you-help-title {
  grid-area: cyh-title;
  text-align: left;
  color: $neo4j-dark;
}

.can-you-help-meta {
  grid-area: cyh-meta;
  color: $neo4j-grey;
}

.neo4j-widget-main-title {
  padding-right: 20px;
}

.neo4j-widget-main-title, 
.neo4j-widget-main-main-link {
  float: left;
  padding: 3px;
}

.community-content-container, .community-projects-container, .meet-new-members-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: $entry-separation;
  grid-template-areas: "ninja ninja ninja"
}

.community-content-entry {
  text-align: center;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 40px auto auto auto;
  grid-template-rows: auto 30px;
  grid-template-areas: "cc-title cc-title cc-title cc-title"
                       "cc-avatar cc-meta-likes cc-meta-posts cc-meta-views"
}

.community-content-title, .meet-new-members-title {
  grid-area: cc-title;
  color: $neo4j-dark;
}

.community-content-avatar, .meet-new-members-avatar {
  grid-area: cc-avatar;
}

.community-content-likes, .meet-new-members-likes {
  grid-area: cc-meta-likes;
  color: $neo4j-grey;
  text-align: left;
  display: flex;
  align-items: center;
  svg {
    padding-right: 5px;
  }
}

.community-content-posts, .meet-new-members-posts {
  grid-area: cc-meta-posts;
  color: $neo4j-grey;
  text-align: left;
  display: flex;
  align-items: center;
  svg {
    padding-right: 5px;
  }
}

.community-content-views, .meet-new-members-views {
  grid-area: cc-meta-views;
  color: $neo4j-grey;
  text-align: left;
  display: flex;
  align-items: center;
  svg {
    padding-right: 5px;
  }
}

.meet-new-members-entry {
  text-align: center;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto 40px 60px;
  grid-template-areas: "cc-avatar cc-meta-likes"
                       "cc-avatar cc-meta-posts"
                       "cc-avatar cc-meta-views"
                       "cc-title cc-title"
                       "mnm-excerpt mnm-excerpt"
}

.meet-new-members-excerpt {
  color: $neo4j-grey;
  position: relative;
  text-align: left;
  grid-area: mnm-excerpt;
  overflow: hidden;
  text-overflow: ellipsis;
}

.latest-blog-post-entry {
  a:link, a:visited {
    color: $neo4j-dark;
  };
  a:hover {
    color: $neo4j-pale-blue;
  }

  .latest-blog-post-bullets {
    font-size: 10px;
    padding: 7px;
  }
}

.announcements-list-container, .latest-blog-post-entry {
  padding: 5px;
}

.announcements-entry-title, .announcements-view-all {
  font-size: 12px;
}

.announcements-view-all {
  font-weight: bold;
}

.announcements-entry, .announcements-view-all {
  width: 100%;
  list-style-type: none;
  border-bottom: solid #3333 1px;
  margin: 5px 10px 0 0;
  padding: 5px 0px 5px 0px;
  a:link, a:visited {
    color: $neo4j-dark;
  };
  a:hover {
    color: $neo4j-pale-blue;
  }
}

.twitter-widget-container {
  margin: 2px;
}

.link-set-list-container,  {
  padding: 5px 0 5px 0;
  color: $neo4j-grey;
}

.neo4j-call-to-action-button {

  background-color: white;
  border: 0px;

  span  {
    display: block;
      color: white;
      background-color: $neo4j-pale-blue;
      font-weight: 500;
      padding: 6px;
      margin-right: 10px;
      border-radius:5px;
  };

  span:hover {
    display: block;
    color: $neo4j-dark;
    background-color: $neo4j-green;
    font-weight: 500;
    padding: 6px;
    margin-right: 10px;
    border-radius:5px;
 }
}

.link-set-entry-title {
  font-size: 12px;
}

.link-set-entry {


  width: 100%;
  list-style-type: none;
  padding: 5px 0  5px 5px;

  a:link, a:visited  {
    display: block;
      color: white;
      background-color: $neo4j-pale-blue;
      padding: 6px;
      margin-right: 10px;
      border-radius:5px;
      font-weight: bold;
  };

  a:hover {
    display: block;
    color: $neo4j-dark;
    background-color: $neo4j-green;
    padding: 6px;
    margin-right: 10px;
    border-radius:5px;
    font-weight: bold;
 }
}

.latest-blog-post-title {
  font-size: 12px;
  font-weight: bold;
}

.latest-blog-post-author-name {
  font-size: 12px;
}

.latest-blog-post-date {
  font-size: 12px;
  color: $neo4j-grey;
  padding: 0 0 10px 0;
}

.latest-blog-post-excerpt {
  font-size: 12px;
  padding: 0 0 10px 0;
}

.custom-categories-widget-header {
  margin-bottom: 0px;
}

.custom-categories-widget-title {
  display:inline-block;
  padding-right: 20px;
}

.tabset > input[type="radio"] {
  position: absolute;
  left: -200vw;
}

.tabset .tab-panel {
  display: none;
}

.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6),
.tabset > input:nth-child(13):checked ~ .tab-panels > .tab-panel:nth-child(7),
.tabset > input:nth-child(15):checked ~ .tab-panels > .tab-panel:nth-child(8),
.tabset > input:nth-child(17):checked ~ .tab-panels > .tab-panel:nth-child(9),
.tabset > input:nth-child(19):checked ~ .tab-panels > .tab-panel:nth-child(10),
.tabset > input:nth-child(21):checked ~ .tab-panels > .tab-panel:nth-child(11)  {
  display: block;
}

.tabset > label {
  position: relative;
  display: inline-block;
  padding: 15px 0px 15px;
  margin: 0 20px 0 0;
  border: 1px solid transparent;
  border-bottom: 0;
  cursor: pointer;
  font-weight: 600;
  color: $neo4j-grey;
}

.tabset > label::after {
  content: "";
  position: absolute;
  margin: 0 auto;
  left: 0%;
  bottom: 10px;
  width: 100%;
  height: 4px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.tabset > label:hover,
.tabset > input:focus + label {
  color: $neo4j-pale-blue;
}

.tabset > input:focus + label::after,
.tabset > input:checked + label::after {
  background: $neo4j-pale-blue;
  color: $neo4j-dark;
}

.tabset > input:checked + label {
  color: $neo4j-dark;
}

.tab-panel {
  padding: 0px 0;
  border-top: 1px solid #ccc;
}

.subcategory-grid {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: $entry-separation;
     background-image:
        -webkit-linear-gradient(
        left,
        $neo4j-pale-blue,
        $neo4j-green
    )
}

.subcategory {
  padding: 10px;
  background: white;
  border-radius: 3px;
  a:link, a:visited {
    color: $neo4j-dark;
  };
  a:hover {
    color: $neo4j-pale-blue;
  }
}

// for category topic list
.neo-avatar-large {
  display: inline-block !important;
  margin-right: 5px;
  margin-bottom: 10px;
  // vertical-align: middle;
  margin: 0 auto;
}

.neo-link-top-line {
  display: inline-block !important;
  // vertical-align: middle;
  // margin-left: 100px;
  vertical-align: top;
}

.neo-link-bottom-line {
  // margin-left: 200px;
  margin: auto 0;
  display: inline-flex !important;
  margin-left: 50px;
  display: block;
}

.neo-raw-topic-link {
  // margin-left: 20px;
  display: inline !important;
}


div.neo-link-bottom-line > a > span.badge-category.clear-badge {
   display: none;
}

.neo-topic-title {
  font-weight: 600;
  display: inline-block !important;
  width: 400px;
}
.neo-tags {
  margin-left: 45px;
}
.neo-posters {
  vertical-align: bottom;
  margin-top: 30px;
}

.neo-posters>a {
  margin-left: -20px !important;
}

.neo-reply-count {
  vertical-align: top;
  margin-top: 35px;
  // font-size: $font-down-1;
}

.neo-new-topic-button {
  background-color: green;
}

.neo-last-post {
  display: block !important;
  margin-top: 5px;
  margin-left: 45px;
  font-size: $font-down-2;
}

.neo-topic-list-item {
  box-shadow: 0px 2px 4px  2px rgba(138,138,138,0.25);
  border-radius: 4px;
}

.neo-topic-excerpt {
  margin-left: 110px;
}
// search banner mods

.custom-search-banner {
  background: -webkit-linear-gradient(left, #77c1f4, #6cc99b);
}

.custom-search-banner-wrap h1 {
  color: #ffffff;
}

.custom-search-banner-wrap .search-menu input[type="text"] {
  border-radius: 5px;
  height: 45px;
}

.custom-search-banner-wrap .search-icon {
  right: auto !important;
  padding: 15px 12px !important;
}

.custom-search-banner-wrap .search-menu input[type="text"]::-webkit-input-placeholder {
 text-indent: 20px;
}

.custom-search-banner-wrap .search-menu input[type="text"]::-moz-placeholder {
  text-indent: 20px;
 }

 .custom-search-banner-wrap .search-menu input[type="text"]:-ms-input-placeholder {
  text-indent: 20px;
 }

 .custom-search-banner-wrap .search-menu input[type="text"]:-moz-placeholder  {
  text-indent: 20px;
 }

 .custom-search-banner-wrap .search-menu input[type="text"]  {
  text-indent: 20px;
 }

.neo-topic-list>thead {
    display: none !important;
}
 
 .neo-nav-pills {
  display: flex;
  flex: 1 1 auto;
  margin: 0 20px 5px 3px;
  position: relative;
  float: right !important;
  .navigation-toggle {
    flex: 0 1 auto;
    margin-bottom: 5px;
  }
  > li {
    margin-right: 0;
    font-size: $font-down-1;
    border: 1px solid $primary-medium;
  }
  > li > a {
    line-height: $line-height-large;
    display: flex;
    align-items: center;
    .d-icon {
      margin-left: 5px;
    }
  }
  .drop {
    border: 1px solid $primary-low;
    position: absolute;
    z-index: z("dropdown") - 1;
    background-color: $secondary;
    padding: 0 10px 10px 10px;
    width: 150px;
    top: 100%;
    margin: 0;
    left: 0; // iOS6 alignment
    li {
      list-style-type: none;
      margin-left: 0;
      margin-top: 5px;
      padding-top: 10px;
      a {
        width: 100%;
        display: inline-block;
      }
    }
  }
}
@import "common/foundation/variables";
// test css
@media screen and (min-width: 767px) {
  // Show the sidebar at 767px
  .custom-sidebar {
    &.sidebar-right .contents > .topic-list {
      grid-template-columns: 78% 20%;
      @media screen and (max-width: 900px) {
        grid-template-columns: 73% 25%;
      }
      grid-template-areas:
        "body sidebar"
        "body sidebar";
    }

    .contents > .topic-list {
      display: grid;
      grid-column-gap: 2%;
      align-items: start;
      grid-template-rows: 50px auto;

      thead {
        grid-area: head;
        display: table;
        align-self: end;
      }
      > .neo-category-sidebar {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        grid-area: sidebar;
        order: 3;
        padding: 0;
        position: relative;
        // @if $stick-on-scroll == "true" {
          position: sticky;
          top: 80px;
          // max-height: 70vh;
          @media screen and (max-height: 925px) {
            // max-height: 55vh;
          }
          overflow-y: auto;
        // }
        .cooked {
          img,
          video,
          iframe {
            width: 100%;
            height: auto;
          }
          img.emoji {
            width: 20px;
          }
          ul,
          ol {
            padding-left: 30px;
          }
        }
      }
      tbody {
        grid-area: body;
        display: table;
        border-top: unset;
      }
    }
  }
}

.neo-create-topic {
  background-color: #6cc99c !important;
  color: #ffffff;
  width: 200px;
  height: 60px;
  border-radius: 4px;
  margin-right: 100px;
  box-shadow: 0px 2px 4px 2px rgba(138, 138, 138, 0.25);
  > svg {
    display: none;
  }
}

.neo-category-list {
  list-style-type: none;
  overflow-y: auto;
  height: 100%;
}

.neo-category-link {
  margin: 0 0 25px 0;
}

.neo-topic-list {
  border-collapse: separate;
  border-spacing: 0 1em;
  width: 90%;
}

